@{
    ViewData["Title"] = "Music List";
}
<h1>@ViewData["Title"]</h1>
<div class="modal">
    <div class="modal-content">
        <form>
            <input file />
        </form>

    </div>
   
</div>
